
obj/Debug/net5.0/APIConsumerWithRefit.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/APIConsumerWithRefit.RazorAssemblyInfo.cache
obj/Debug/net5.0/APIConsumerWithRefit.RazorAssemblyInfo.cs
